{% set extraMenu = menuRender('extra') %}
<div class="sidebar-header">
    <!-- brand -->
    <a class="mautic-brand{{ extraMenu is empty ? '' : ' pull-left pl-0 pr-0' }}" href="#" style="padding:0; text-align:center;">
        <img src="{{sidebar_image}}" style="width:100%; max-width:{{sidebar_width}}px; margin:{{margin_top}}px {{margin_right}}px 0 {{margin_left}}px;" />
    </a>
    {% if extraMenu is not empty %}
        <div class="dropdown extra-menu">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-chevron-down fa-lg"></i>
            </a>
            {{ extraMenu }}
        </div>
    {% endif %}
    <!--/ brand -->
</div>
<!--/ end: sidebar-header -->

<!-- start: sidebar-content -->
<div class="sidebar-content">
    <!-- scroll-content -->
    <div class="scroll-content slimscroll">
        <!-- start: navigation -->
        <nav class="nav-sidebar">
            {{ customContent('menu.above', mauticTemplateVars is defined ? mauticTemplateVars : []) }}
            {{ menuRender('main') }}

            <!-- start: left nav -->
            <ul class="nav sidebar-left-dark">
                <li class="hidden-xs">
                    <a href="javascript:void(0)" data-toggle="minimize" class="sidebar-minimizer" aria-label="{% trans %}mautic.core.menu.left.collapse{% endtrans %}"><span class="direction icon pull-left fa"></span><span class="nav-item-name pull-left text">{% trans %}mautic.core.menu.left.collapse{% endtrans %}</span></a>
                </li>
            </ul>
            <!--/ end: left nav -->

        </nav>
        <!--/ end: navigation -->
    </div>
    <!--/ scroll-content -->
</div>
<!--/ end: sidebar-content -->